@import './mixin.scss';

$height-button-and-input: 45px;
$margin-content: 1.5rem;
$Very-Dark-Gray: hsl(0, 0%, 17%);
$Dark-Gray: hsl(0, 0%, 59%);
$primary-font-color: white;
$segundary-font-color: $Very-Dark-Gray;
